.postsBlock {
	padding: 10px;
}
.postsBlock h3 {
	padding-left: 40px;
} 
button {
	margin-right: 10px;
}
.posts {
	margin-top: 20px;
	padding-left: 40px;

}

/*  */

.shineButton {
	background: rgba(255, 255, 255, 0.586);
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px 30px;
	position: relative;
	overflow: hidden;
	border: 2px solid #33977c18;
	border-radius: 15px;
	font-family: "Shantell Sans", cursive;
	font-size: 1rem;
	color: rgba(0, 0, 0);
	transition: 0.2s ease-in-out;
}
.shineButton:before {
	content: "";
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.5)
	);
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}

.shineButton:hover {
	background: #33977cbf;
	color: #fff;
}
.shineButton:hover:before {
	left: 150px;
	transition: 0.5s ease-in-out;
}
