.app-wrapper {
	margin: 0 auto;
	display: grid;
	width: 1200px;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		"h h"
		"n c";
}

.app-wrapper-content {
	grid-area: c;
	/* margin-top: 20px; */
	/* background-color: #33977c0b; */
}
* {
	font-family: "Shantell Sans", cursive;
}
